extends layout

block content
  .home-container
    h1.main-title System Przetargowy

    .intro-box
      h2.intro-title Witaj w Systemie Zarządzania Przetargami Publicznymi
      p.intro-description Dzięki naszemu narzędziu możesz w łatwy sposób:

      ul.features
        li.feature-item Przeglądać aktualne przetargi
        li.feature-item Śledzić zakończone przetargi
        li.feature-item Dodawać nowe przetargi
        li.feature-item Składać oferty

    .actions-box
      p.action-paragraph Jeśli jesteś zamawiającym, przejdź do zakładki aby rozpocząć nowe postępowanie.
      p.action-paragraph Jeśli jesteś wykonawcą, sprawdź aktywne przetargi i złóż swoją ofertę.
      p.action-paragraph Aby przejrzeć archiwalne postępowania, wybierz zakładkę Lista zakończonych przetargów.